name: 1.0.$(Rev:r)

trigger:
  branches:
    include:
    - main
  paths:
    exclude:
    - README.md

variables:
  buildConfiguration: 'Release'

stages:
- stage: ProvisionInfra
  displayName: 'Provisionar Infraestrutura'
  jobs:
  - job: Provision
    displayName: 'Criar Recursos Azure'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: AzureCLI@2
      displayName: 'Executar Script de Infraestrutura'
      inputs:
        azureSubscription: 'your-azure-subscription'
        scriptType: 'bash'
        scriptLocation: 'scriptPath'
        scriptPath: 'scripts/script-infra-paas.sh'

- stage: Build
  displayName: 'Build e Testes'
  dependsOn: ProvisionInfra
  jobs:
  - job: Build
    displayName: 'Build Application'
    pool:
      vmImage: 'ubuntu-latest'
    
    steps:
    - task: Gradle@3
      displayName: 'Build com Gradle'
      inputs:
        gradleWrapperFile: 'gradlew'
        tasks: 'build -x test'
        publishJUnitResults: false
        testResultsFiles: '**/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.21'
        jdkArchitectureOption: 'x64'

    - task: CopyFiles@2
      displayName: 'Copiar Artefatos'
      inputs:
        Contents: 'build/libs/**/*.jar'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
        CleanTargetFolder: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publicar Artefatos'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'

- stage: Deploy
  displayName: 'Deploy para Web App'
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: 'Deploy Application'
    pool:
      vmImage: 'ubuntu-latest'
    
    steps:
    - task: DownloadBuildArtifacts@0
      displayName: 'Download Artefatos'
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'drop'
        downloadPath: '$(System.DefaultWorkingDirectory)'

    - task: AzureWebApp@1
      displayName: 'Deploy para Azure Web App'
      inputs:
        azureSubscription: 'your-azure-subscription'
        appName: 'metaflow-app-rm557702'
        package: '$(System.DefaultWorkingDirectory)/drop/**/*.jar'
        runtimeStack: 'JAVA|21'
        startUpCommand: 'java -jar /home/site/wwwroot/app.jar'

