trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'metaflow-app'
  acrName: 'metaflowacrrm557702'
  resourceGroup: 'MetaFlowGroup'

steps:
# 1. Build e Teste com Maven
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean package'
    options: '-DskipTests=false'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'

# 2. Publicar resultados dos testes
- task: PublishTestResults@2
  inputs:
    testRunner: 'JUnit'
    testResultsFiles: '**/surefire-reports/TEST-*.xml'

# 3. Build e Push da imagem Docker
- task: Docker@2
  inputs:
    containerRegistry: '$(acrName)-connection'
    repository: '$(imageName)'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: 'latest'

# 4. Deploy no ACI (SCRIPT na pipeline - como seu professor pediu)
- task: AzureCLI@2
  inputs:
    azureSubscription: 'Azure-Connection'
    scriptType: 'bash'
    scriptLocation: 'scriptPath'
    scriptPath: 'scripts/script-deploy-aci.sh'